@media screen and (max-width: 1370px) {
    .container-1370px{
        padding-left: 16px;
        padding-right: 16px;
    }
}



@media screen and (max-width: 1240px) {
    .container-1240px{
        padding-left: 16px;
        padding-right: 16px;
    }


    .swiper-slide-div{
        flex-direction: column;
        gap: 50px;
    }
    .swiper-slide-h3{
        font-size: clamp(26px, calc(19.907px + 1.62vw), 40px);
    }
}



@media screen and (max-width: 992px) {
    .header{
        position: relative;
        padding-left: 8.62px;
        padding-right: 7px;
        top: 18.75px;
    }
    .nav{
        display: none;
    }
    .menu-3-dot-aqua{
        display: block;
    }
    .navbar-dropdown{
        position: fixed;
        top: -1000px;
        left: 0;
        z-index: 20;
        align-items: start;
        justify-content: start;
        padding: 18.75px 16px !important;
        min-height: 100vh;
        transition: all .5s;
        overflow-y: auto;
    }
    .navbar-dropdown-mobile{
        display: block;
    }
    .dropdown-div-item{
        padding: 25px 15px 14px 15px;
        width: 100%;
        max-width: 343px;
    }
    .arrow-right-icon-div{
        width: 40px;
        height: 40px;
        padding: 15px 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-dropdown.active{
        top: 0;
    }
    .navbar-dropdown-div-desk{
        display: none;
    }
    
    
    .slide-2-section, .swiper-tow-slide{
        height: auto !important;
    }
    .swiper-tow-slide{
        flex-direction: column;
        padding-bottom: 50px;
        justify-content: end;
        align-items: normal;
    }
    .slide-section-2-h2{
        margin-bottom: 20px;
    }
    .swiper-tow-slide-img{
        width: 100%;
    }
    .swiper-tow-slide-content{
        max-width: 100%;
    }

    .slide-section-3-slide-content{
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 750px) {
    .newsletter-right-div {
        display: none;
    }
}



@media screen and (max-width: 440px) {
    /* hero section */
    .hero-content{
        flex-direction: column;
        gap: 170px;
    }
    .hero-btn-div{
        gap: 40px;
    }
    .wm-btn{
        font-size: 13.65px;
        gap: 9.1px;
        padding: 13px 27.3px 13px 22.75px;
        border-radius: 27.3px;
    }
    .wm-dot-link{
        font-size: 13.78px;
        gap: 4.56px;
    }





    .section-header-div{
        margin-bottom: 10px;
    }
    .section-header-right-p-div{
        justify-content: end;
        gap: 16px;
        width: 100%;
    }
    .section-header-span-desk{
        display: none;
    }
    .section-header-span-mobile{
        display: block;
    }


    .wm-font-18px{
        font-size: 16px;
    }




    .slide-3-footer{
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }



    .zoznam-plodín-section{
        padding-bottom: 170px;
    }
    .zoznam-plodín-section-header{
        margin-bottom: 60px;
    }
    .zoznamSwiper-h6{
        position: absolute;
        left: 0;
        top: 0;
    }
    .zoznamSwiper-bottom-div{
        position: absolute;
        left: 0;
    }




    /* footer */
    .footer-social-mobile {
        display: block;
    }
    .social-lang-div{
        gap: 34.38px;
        margin-bottom: 50px;
    }
    .footer-mobile-lang-div{
        padding-right: 9px;
    }
    .language-btn{
        font-size: 25px;
    }
    .footer-top-links-div{
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 50px;
        column-gap: 16px;
        justify-content: start;
    }
    .newsletter-h4{
        font-size: 25px;
    }
    .subscribe-btn-desk{
        display: none;
    }
    .subscribe-btn-mobile{
        display: flex;
        align-items: center;
        justify-self: center;
        margin-top: 50px;
    }
    .logo-created-by-mobile{
        display: block;
    }
    .wm-mb-75px {
        margin-bottom: 75.5px;
    }
}