@media screen and (max-width: 1370px) {
    .container-1370px{
        padding-left: 30px;
        padding-right: 30px;
    }
}



@media screen and (max-width: 1240px) {
    .container-1240px{
        padding-left: 30px;
        padding-right: 30px;
    }


    .swiper-slide-div{
        flex-direction: column;
        gap: 50px;
    }
    .swiper-slide-h3{
        font-size: clamp(26px, calc(19.907px + 1.62vw), 40px);
    }
}



@media screen and (max-width: 992px) {
    .slide-2-section, .swiper-tow-slide{
        height: auto !important;
    }
    .swiper-tow-slide{
        flex-direction: column;
        padding-bottom: 50px;
        justify-content: end;
        align-items: normal;
    }
    .slide-section-2-h2{
        margin-bottom: 20px;
    }
    .swiper-tow-slide-img{
        width: 100%;
    }
    .swiper-tow-slide-content{
        max-width: 100%;
    }
}



@media screen and (max-width: 440px) {
    /* hero section */
    .hero-content{
        flex-direction: column;
        gap: 170px;
    }
    .hero-btn-div{
        gap: 40px;
    }
    .wm-btn{
        font-size: 13.65px;
        gap: 9.1px;
        padding: 13px 27.3px 13px 22.75px;
        border-radius: 27.3px;
    }
    .wm-dot-link{
        font-size: 13.78px;
        gap: 4.56px;
    }





    .section-header{
        flex-direction: column;
    }
    .section-header-right-p-div{
        flex-direction: column;
        gap: 16px;
    }




    /* footer */
    .footer-social-mobile {
        display: block;
    }
    .social-lang-div{
        gap: 34.38px;
        margin-bottom: 50px;
    }
    .footer-mobile-lang-div{
        padding-right: 9px;
    }
    .language-btn{
        font-size: 25px;
    }
    .footer-top-links-div{
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 50px;
        column-gap: 16px;
        justify-content: start;
    }
    .newsletter-h4{
        font-size: 25px;
    }
    .subscribe-btn-desk{
        display: none;
    }
    .subscribe-btn-mobile{
        display: flex;
        align-items: center;
        justify-self: center;
        margin-top: 50px;
    }
    .newsletter-right-div{
        display: none;
    }
    .logo-created-by-mobile{
        display: block;
    }
}