.hero-bg{
    width: 100vw;
    height: 838px;
    background-image: url("../assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 838px;
    background-color: #00000033;
    z-index: 0;
}

.hero-header-container {
    height: 100%;
    z-index: 1;
}








/* hero section */
.hero-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-right-content{
    max-width: 400px;
}

.hero-right-content-p{
    max-width: 350px;
}

.hero-ako-btn{
    display: flex;
    align-items: center;
    padding: 14.5px 30px 14.5px 25px;
    background-color: var(--color-energy);
    color: var(--color-root);
    border-radius: 30px;
    gap: 10px;
}










/* brands section */
.section-header-right-p-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(310px, calc(154.73px + 35.209vw), 504px);
}

.brand-logo-div{
    overflow-x: auto;

}






/* leaf section */
.leaf-section-h2{
    max-width: 863px;
}

.leaf-section-h2-p{
    max-width: 715px;
}

.leaf-section-a{
    padding: 14.5px 30px 14.5px 25px;
    background-color: var(--color-aqua);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.leaf-img-div{
    max-width: 633px;
    margin-top: 18px;
    margin-bottom: clamp(-50px, calc(18.571px + -8.929vw), -15px);
}

.leaf-p1,
.leaf-p2,
.leaf-p3{
    position: absolute;
}

.leaf-p1{
    top: clamp(20px, calc(-57.694px + 20.663vw), 101px);
    left: clamp(-10px, calc(6.306px + -4.337vw), -27px);
}
.leaf-p2{
    top: clamp(55px, calc(-74.49px + 34.439vw), 190px);
    right: clamp(-28px, calc(-4.49px + -3.061vw), -16px);
}
.leaf-p3{
    bottom: clamp(55px, calc(-46.673px + 27.041vw), 161px);
    right: clamp(-5px, calc(-44.327px + 10.459vw), 36px);
}








/* potato section */
.potato-section{
    background-image: url("../assets/images/potato-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 700px;

}
.potato-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #0000004D;
    z-index: 0;
}
.potato-section-content{
    position: relative;
    z-index: 1;
}

.velka-p{
    width: clamp(140px, calc(-109.388px + 66.327vw), 400px);
}

.potato-section-h2{
    max-width: 400px;
}







/* Footer section */
.footer-social-mobile{
    display: none;
}

.footer-input{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--color-haze);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: var(--color-vege);
}

.footer-input::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: var(--color-vege);
}

.first-name{
    width: clamp(149px, calc(106.796px + 11.224vw), 193px);
}


.custome-radio{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    user-select: none;
    flex-shrink: 0;
}
.email-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0%;
    height: 24px;
    width: 24px;
    background-color: var(--color-haze);
    border-radius: 50%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-root);
}
.email-checkbox:checked ~ .checkmark:after {
    display: block;
}

.subscribe-btn-mobile{
    display: none;
}


.footer-social-icon-a{
    width: 40.4px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-energy);
}

.language-btn{
    transition: color .3s;
}
.language-btn.active{
    color: var(--color-energy);
}
.language-btn:hover{
    color: var(--color-energy);
}


.logo-created-by-mobile{
    display: none;
}