.hero-bg{
    width: 100vw;
    height: 838px;
    background-image: url("../assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 838px;
    background-color: #00000033;
    z-index: 0;
}

.hero-header-container {
    height: 100%;
    z-index: 1;

}







/* navbar section */
.navbar-dropdown{
    width: 100%;
    height: 0px;
    background-color: var(--color-haze);
    position: relative;
    z-index: 3;
    transition: height .5s;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: end;
}
.navbar-dropdown.active{
    height: 510px;
    padding: 0px 35px 51px;
}
.navbar-dropdown-mobile{
    display: none;
}
.header{
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all .5s;
}

.navbar-dropdown-div{
    display: none;
    align-items: center;
    gap: 19px;
}
.navbar-dropdown-div.active{
    display: flex;
}
.navbar-dropdown-div-mobile{
    height: 0px;
    overflow: hidden;
    transition: all .5s;
}
.navbar-dropdown-div-mobile.active{
    padding-top: 20px;
    padding-bottom: 26px;
    transition: all .5s;
}
.dropdown-div-item{
    width: 100%;
    max-width: 328px;
    height: 260px;
    padding: 25.5px 22.05px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
}
.arrow-right-icon-div{
    width: 55px;
    height: 55px;
    background-color: var(--color-white);
    border-radius: 100px;
    padding: 20px 25px;
}

.logo-aqua{
    transition: opacity .3s;
}

.logo-root{
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity .3s;
}


.nav-ul{
    padding: 0px 27px 0px 39px;
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: 1px 1px 2.9px 0px #00000026;
    display: flex;
    align-items: center;
    gap: 39.5px;
}
.nav-ul-li{
    position: relative;
    padding: 13px 0px;
    cursor: pointer;
}
.nav-arrow-down{
    transition: rotate .3s;
}
.nav-ul-li:hover .nav-arrow-down {
    rotate: -180deg;
}

.nav-ul-li::before{
    content: "";
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--color-stone);
    border-radius: 50%;
    transition: background-color .5s;
}

.nav-ul-li:hover::before {
    background-color: var(--color-root);
}


.nav-lang-div{
    padding: 13px 21px;
    background-color: var(--color-white);
    box-shadow: 1px 1px 2.9px 0px #00000026;
    border-radius: 30px;
}

.nav-lang-btn{
    transition: color .5s;
}
.nav-lang-btn.active{
    color: var(--color-root);
}
.nav-lang-btn:hover{
    color: var(--color-root);
}

.menu-3-dot-aqua{
    display: none;
}


.mobile-nav-social{
    width: 40.4px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-root);
}
.mobile-fb{
    padding: 11px 16.4px 12px 16px;
}
.mobile-insta{
    padding: 10px 10.81px 11px 10.6px;
}
.mobile-youtube{
    padding: 12px 9.21px 13px 10.19px;
}
.mobile-linkedin{
    padding: 10.44px 11.16px 12.94px 12.43px;
}





/* hero section */
.hero-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-right-content{
    max-width: 400px;
}

.hero-right-content-p{
    max-width: 350px;
}

.hero-ako-btn{
    display: flex;
    align-items: center;
    padding: 14.5px 30px 14.5px 25px;
    background-color: var(--color-energy);
    color: var(--color-root);
    border-radius: 30px;
    gap: 10px;
}






/* slide section 1 */
.slide-section-1-slide{
    padding-top: 90px;
    background-color: var(--color-white);
}
.swiper-slide-h3{
    max-width: 715px;
}

.slide-p{
    max-width: 350px;

}

.slide-section-1-pagination{
    display: flex;
    gap: 10px;
}

.slide-section-1-bullet {
    width: 40px !important;
    height: 40px !important;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--color-aqua);
    color: var(--color-aqua) !important;
    opacity: 1 !important;
    background: transparent !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.slide-section-1-bullet:hover{
    background: var(--color-aqua) !important;
    color: var(--color-white) !important;
}

.slide-section-1-bullet-active {
    color: var(--color-white) !important;
    background: var(--color-aqua) !important;
}


.swiperOne .swiper-slide,
.swiperThree .swiper-slide {
    opacity: 0 !important;
    transition: opacity 0.3s !important;
}

.swiperOne .swiper-slide-active,
.swiperThree .swiper-slide-active {
    opacity: 1 !important;
    transition-delay: 0.3s !important;
}








/* brands section */
.section-header-right-p-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(310px, calc(154.73px + 35.209vw), 504px);
}

.brand-logo-div{
    overflow-x: auto;

}



.section-header-span-mobile{
    display: none;
}




/* leaf section */
.leaf-section-h2{
    max-width: 863px;
}

.leaf-section-h2-p{
    max-width: 715px;
}

.leaf-section-a{
    padding: 14.5px 30px 14.5px 25px;
    background-color: var(--color-aqua);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.leaf-img-div{
    max-width: 633px;
    margin-top: 18px;
    margin-bottom: clamp(-50px, calc(18.571px + -8.929vw), -15px);
}

.leaf-p1,
.leaf-p2,
.leaf-p3{
    position: absolute;
}

.leaf-p1{
    top: clamp(20px, calc(-57.694px + 20.663vw), 101px);
    left: clamp(-10px, calc(6.306px + -4.337vw), -27px);
}
.leaf-p2{
    top: clamp(55px, calc(-74.49px + 34.439vw), 190px);
    right: clamp(-28px, calc(-4.49px + -3.061vw), -16px);
}
.leaf-p3{
    bottom: clamp(55px, calc(-46.673px + 27.041vw), 161px);
    right: clamp(-5px, calc(-44.327px + 10.459vw), 36px);
}







/* slide section 2 */
.slide-2-section{
    height: 838px;
}
.swiper-tow-slide{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 675px !important;
    gap: 60px;
}
.swiperTow-pagination-div{
    height: 37px;
    display: flex;
    align-items: end;
}
.swiperTow-pagination{
    display: flex;
    align-items: center;
    gap: 7px;
}
.swiperTow-pagination-bullet{
    width: 8px;
    height: 8px;
    background-color: var(--color-root);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}
.swiperTow-pagination-bullet-active{
    width: 12px;
    height: 12px;
    background-color: var(--color-white);
}

.ton24-img{
    width: clamp(313px, calc(216.262px + 25.728vw), 525px);
}
.slide-circle-img{
    width: clamp(310px, calc(205.049px + 27.913vw), 540px);
}

.slide-section-2-hr{
    margin-top: -37px !important;
}







/* slide section 3 */
.slide-section-3 {
    min-height: 663px;
    display: flex;
    flex-direction: column;
}

.slide-section-3 .container-1240px {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.slide-section-3 .swiperThree {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slide-section-3 .swiper-wrapper {
    flex: 1;
}

.slide-section-3-slide-content{
    min-height: 277px;
    flex-shrink: 0;
}
.slide-section-3-pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.slide-section-3-bullet {
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    text-transform: uppercase;
    border: 1px solid var(--color-root);
    color: var(--color-root);
    background: transparent;
    transition: all .5s;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    padding: 14.5px 29px;
}

.slide-section-3-bullet:hover {
    background: var(--color-root);
    color: var(--color-white);
}

.slide-section-3-bullet-active {
    background: var(--color-root);
    color: var(--color-white);
}

.slide-section-3-slide{
    padding-top: 90px;
    min-height: clamp(541px, calc(729.12px + -13.064vw), 680px) !important;
    display: flex !important;
    flex-direction: column;
}

.slide-3-footer {
    margin-top: auto;
    align-items: flex-end;
}

.anim-word {
    display: inline-block;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition-delay: 0s;
    
}


.swiper-slide-active .anim-word {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.5s;
    transition-delay: var(--delay);
}




/* Zoznam plodín section */
.zoznam-slide-img-div{
    width: 100%;
    max-width: 610px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoznam-slide-img{
    width: 100%;
    max-width: 455px;
    height: 100%;
    object-fit: contain;
}

.zoznamSwiper{
    width: 100%;
    height: 50px;
    overflow: visible !important;
}
.zoznamSwiper-div{
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.zoznamSwiper-div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101px;
    background: linear-gradient(to bottom, var(--color-white) 50%, transparent 100%);
    z-index: 2;
}
.zoznamSwiper-div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 101px;
    background: linear-gradient(to top, var(--color-white) 50%, transparent 100%);
    z-index: 2;
}

.zoznam-slide-p{
    font-size: clamp(24px, calc(14.234px + 2.597vw), 40px);
}

.zoznamSwiper .swiper-slide-active p {
    color: var(--color-root) !important;
}








/* potato section */
.potato-section{
    background-image: url("../assets/images/potato-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 700px;

}
.potato-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #0000004D;
    z-index: 0;
}
.potato-section-content{
    position: relative;
    z-index: 1;
}

.velka-p{
    width: clamp(140px, calc(-109.388px + 66.327vw), 400px);
}

.potato-section-h2{
    max-width: 400px;
}







/* Footer section */
.footer-social-mobile{
    display: none;
}

.footer-input{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--color-haze);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: var(--color-vege);
}

.footer-input::placeholder{
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: var(--color-vege);
}

.first-name{
    width: clamp(149px, calc(106.796px + 11.224vw), 193px);
}


.custome-radio{
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    user-select: none;
    flex-shrink: 0;
}
.email-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0%;
    height: 24px;
    width: 24px;
    background-color: var(--color-haze);
    border-radius: 50%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-root);
}
.email-checkbox:checked ~ .checkmark:after {
    display: block;
}

.subscribe-btn-mobile{
    display: none;
}


.footer-social-icon-a{
    width: 40.4px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-energy);
}

.language-btn{
    transition: color .3s;
}
.language-btn.active{
    color: var(--color-energy);
}
.language-btn:hover{
    color: var(--color-energy);
}

.footer-primary-logo{
    width: 190.52px;
}


.logo-created-by-mobile{
    display: none;
}